body {
    background-image: url(../IMAGE/bgbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Garamond, Kaiti;
}

html {
    cursor: url(../CURSOR/normal.png), auto;
}

#feedback {
    position: fixed;
    box-sizing: border-box;
    background-color: red;
    width: 10%;
    height: 20%;
    bottom: 25%;
    left: 45%;
    visibility: hidden;
}

#button {
    font-family: 'Brush Script MT', cursive;
    width: 13.5vw;
    height: 9vh;
    font-size: 1.7vw;
    text-align: left;
    color: white;
    cursor: url(../CURSOR/click.png), auto;
    border-radius: 15px;
    position: absolute;
    bottom: 1%;
    left: 1.2vw;
    background-color: rgb(11, 10, 10);
    transition: 0.2s;
    border: 2px solid black;
}

#button:hover {
    background-color: rgb(50, 45, 45);
    animation-name: jumping;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

* {
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Brush Script MT', cursive;
    width: 13.5vw;
    height: 9vh;
    font-size: 1.7vw;
    text-align: left;
    color: white;
    cursor: url(../CURSOR/click.png), auto;
    border-radius: 15px;

}

button:hover {
    background-color: rgb(50, 45, 45);
    animation-name: jumping;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes jumping {
    0% {
        left: 1.2vw;
    }

    50% {
        left: 1.8vw;
    }
}

.button-text {
    font-size: 2.5vw;
}

#check {
    display: none;
}

.menu {
    text-align: center;
    position: fixed;
    top: 1vh;
    left: -16vw;
    width: 16vw;
    height: 98vh;
    background-color: rgb(11, 10, 10);
    transition: 0.5s;
    border-radius: 25px;
}

.menu1 {
    position: absolute;
    top: 3.3vh;
    left: 1vw;
    color: white;
    font-size: 2vw;
    font-weight: bolder;
}

.body {
    transition: 0.5s;
}

.file {
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.file2 {
    color: white;
    font-size: 40px;
}

.button1 {
    position: absolute;
    top: 10vh;
    left: 1.2vw;
    background-color: rgb(11, 10, 10);
    border: none;
    transition: 0.2s;
    border: 2px solid black;
}

.button2 {
    position: absolute;
    top: 20vh;
    left: 1.2vw;
    background-color: rgb(11, 10, 10);
    border: none;
    transition: 0.2s;
    border: 2px solid black;
}

.button3 {
    position: absolute;
    top: 30vh;
    left: 1.2vw;
    background-color: rgb(11, 10, 10);
    border: none;
    transition: 0.2s;
    border: 2px solid black;
}

.button4 {
    position: absolute;
    top: 40vh;
    left: 1.2vw;
    background-color: rgb(11, 10, 10);
    border: none;
    transition: 0.2s;
    border: 2px solid black;
}

.button5 {
    position: absolute;
    top: 50vh;
    left: 1.2vw;
    background-color: rgb(11, 10, 10);
    border: none;
    transition: 0.2s;
    border: 2px solid black;
}

.button6 {
    position: absolute;
    top: 60vh;
    left: 1.2vw;
    background-color: rgb(11, 10, 10);
    border: none;
    transition: 0.2s;
    border: 2px solid black;
}

#box {
    width: 100%;
    z-index: 2;
}

#box1 {
    width: 100%;
    z-index: 2;
}

label #btn,
label #cancel {
    cursor: url(../CURSOR/click-state.png), auto;
    border-radius: 3px;
}

label #btn {
    position: absolute;
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    position: fixed;
    z-index: 1;
    top: 1vh;
    left: -13.3vw;
    font-size: 3.3vh;
    color: white;
    padding: 4px 9px;
    transition: all .5s;
}

#check:checked~.menu {
    left: 1vw;
}

#check:checked~.body {
    margin-left: 16vw;
}

#check:checked~label #btn {
    left: 10vw;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 14.3vw;
}