body {
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1448711260.1706400000&semt=sph);
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    cursor: url(../CURSOR/normal.png), auto;
}

button {
    cursor: url(../CURSOR/click.png), auto;
}

body {
    align-items: center;
    text-align: center;
}

button {
    font-size: 50px;
    transition: 0.5s;
    width: 16%;
    background-color: transparent;
    border: 0px;
    height: 100%;
}

button:hover {
    font-size: 80px;
    width: 15%;
    background-color: rgba(192, 115, 243, 0.127);
    text-shadow: -3px 3px 0 #000,
        3px 3px 0 #000,
        3px -3px 0 #000,
        -3px -3px 0 #000;
}

font {
    font-family: 'Brush Script MT', cursive;
    font-size: 1800%;
    transition: 0.4s;
}

font:hover {
    font-size: 1900%;
    color: white;
    text-shadow: -3px 3px 0 #000,
        3px 3px 0 #000,
        3px -3px 0 #000,
        -3px -3px 0 #000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.transparent {
    mix-blend-mode: multiply;
    filter: contrast(1);
}

.title {
    position: absolute;
    box-sizing: border-box;
    top: 20%;
    left: 32%;
    width: 26%;
    height: 21%;
    transition: 0.4s;
}

.title:hover {
    background-color: aqua;
}

.menu {
    position: absolute;
    top: 70%;
    left: 4%;
    border: 9px solid rgba(255, 255, 255, 0.392);
    background-image: url(../IMAGE/image1.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width: 92%;
    height: 200px;
}