* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Kaiti;
}

html {
    cursor: url(../CURSOR/normal.png), auto;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1448711260.1706400000&semt=sph);
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    cursor: url(../CURSOR/click.png), auto;
    position: absolute;
    border-radius: 55%;
    width: 7vw;
    height: 14vh;
    transition: 0.4s;
    font-size: 3vw;
    border: 0.2vw solid black;
    background-color: transparent;
}

button:hover {
    background-color: rgba(245, 245, 245, 0.641);
}

/*CONTAINERS*/
#container1,
#container2,
#container3,
#container4,
#container5,
#container6,
#container7,
#container8,
#container9,
#container10,
#container11,
#container12,
#container13,
#container14,
#container15,
#container16,
#container17,
#container18,
#container19,
#container20,
#container21,
#container22,
#container23,
#container24,
#container25,
#container26,
#container27,
#container28,
#container29,
#container30,
#container31,
#container32,
#container33,
#container34,
#container35,
#container36,
#container37,
#container38,
#container39 {
    visibility: hidden;
    z-index: 2;
}

#container1 {
    background-image: url('../IMAGE/role-container-bg.jpeg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

#container2 {
    background-color: blue;
}

#container3 {
    background-color: yellow;
}

/*TABLES*/

/*TABLE 1*/
#table1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#name1 {
    font-size: 5vw;
    height: 20vh;
}

#picture1 {
    width: 30%;
}

/*TABLE 2*/

/*BUTTONS*/
#btn1 {
    top: 12%;
    left: 16%;
}

#btn2 {
    top: 5%;
    left: 10%;
}

#btn3 {
    top: 12%;
    left: 4%;
}

#btn4 {
    top: 24%;
    left: 0.7%;
}

#btn5 {
    top: 36.3%;
    left: 4%;
}

#btn6 {
    top: 40%;
    left: 10.7%;
}

#btn7 {
    top: 49%;
    left: 16%;
}

#btn8 {
    top: 61.1%;
    left: 19.3%;
}

#btn9 {
    top: 73.3%;
    left: 16%;
}

#btn10 {
    top: 80.5%;
    left: 10%;
}

#btn11 {
    top: 73.3%;
    left: 4%;
}

#btn12 {
    top: 59.8%;
    left: 2%;
}

#btn13 {
    top: 12%;
    left: 24%;
}

#btn14 {
    top: 4%;
    left: 29.6%;
}

#btn15 {
    top: 4%;
    left: 36.6%;
}

#btn16 {
    top: 12%;
    left: 42.2%;
}

#btn17 {
    top: 24.5%;
    left: 39.3%;
}

#btn18 {
    top: 36.2%;
    left: 35.6%;
}

#btn19 {
    top: 47.9%;
    left: 31.8%;
}

#btn20 {
    top: 60.7%;
    left: 29%;
}

#btn21 {
    top: 73.2%;
    left: 26%;
}

#btn22 {
    top: 73.2%;
    left: 33%;
}

#btn23 {
    top: 73.2%;
    left: 40%;
}

#btn24 {
    top: 12%;
    left: 63%;
}

#btn25 {
    top: 5%;
    left: 57%;
}

#btn26 {
    top: 12%;
    left: 51%;
}

#btn27 {
    top: 24%;
    left: 47.7%;
}

#btn28 {
    top: 36.3%;
    left: 51%;
}

#btn29 {
    top: 40%;
    left: 57.7%;
}

#btn30 {
    top: 49%;
    left: 63%;
}

#btn31 {
    top: 61.1%;
    left: 66.3%;
}

#btn32 {
    top: 73.3%;
    left: 63%;
}

#btn33 {
    top: 80.5%;
    left: 57%;
}

#btn34 {
    top: 73.3%;
    left: 51%;
}

#btn35 {
    top: 59.8%;
    left: 49%;
}

#btn36 {
    top: 14%;
    left: 73%;
}

#btn37 {
    top: 4%;
    left: 77.7%;
}

#btn38 {
    top: 4%;
    left: 84.6%;
}

#btn39 {
    top: 14%;
    left: 89.4%;
}

#btn40 {
    top: 27.4%;
    left: 88%;
}

#btn41 {
    top: 36%;
    left: 82.5%;
}

#btn42 {
    top: 43.7%;
    left: 76.6%;
}

#btn43 {
    top: 51.5%;
    left: 82.5%;
}

#btn44 {
    top: 59.9%;
    left: 88%;
}

#btn45 {
    top: 73.5%;
    left: 89.4%;
}

#btn46 {
    top: 83.5%;
    left: 84.6%;
}

#btn47 {
    top: 83.5%;
    left: 77.7%;
}

#btn48 {
    top: 73.5%;
    left: 73%;
}

#closeBtn {
    position: absolute;
    border-radius: 0;
    right: 2vw;
    top: 5.5vh;
    width: 4vw;
    height: 8vh;
    font-size: 3vw;
    border: 0;
    z-index: 3;
    visibility: hidden;
}

#closeBtn:hover {
    background-color: transparent;
    font-size: 4vw;
}