* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Garamond, Kaiti;
}

html {
    cursor: url(../CURSOR/normal.png), auto;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1448711260.1706400000&semt=sph);
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    cursor: url(../CURSOR/click.png), auto;
}

button:hover {
    background-color: rgba(245, 245, 245, 0.641);
}

/*MENU*/
.menu {
    text-align: center;
    position: fixed;
    top: 1vh;
    left: -16vw;
    width: 16vw;
    height: 98vh;
    background-color: rgb(11, 10, 10);
    transition: 0.5s;
    border-radius: 25px;
    z-index: -1;
}

.menu1 {
    position: absolute;
    top: 3.3vh;
    left: 1vw;
    color: white;
    font-size: 2vw;
    font-weight: bolder;
}

.button-text {
    font-size: 2.5vw;
}

#check {
    display: none;
}

.button1,
.button2,
.button3,
.button4,
.button5,
.button6 {
    font-family: 'Brush Script MT', cursive;
    width: 13.5vw;
    height: 9vh;
    font-size: 1.7vw;
    text-align: left;
    color: white;
    cursor: url(../CURSOR/click.png), auto;
    border-radius: 15px;
}

.button1:hover,
.button2:hover,
.button3:hover,
.button4:hover,
.button5:hover,
.button6:hover {
    background-color: rgb(50, 45, 45);
    animation-name: jumping;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes jumping {
    0% {
        left: 1.2vw;
    }

    50% {
        left: 1.8vw;
    }
}

label #btn,
label #cancel {
    cursor: url(../CURSOR/click-state.png), auto;
    border-radius: 3px;
}

label #btn {
    position: absolute;
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    position: fixed;
    z-index: 1;
    top: 1vh;
    left: -13.3vw;
    font-size: 3.3vh;
    color: white;
    padding: 4px 9px;
    transition: all .5s;
    z-index: 0;
}

.button1 {
    position: absolute;
    top: 10vh;
    left: 1.2vw;
    background-color: rgb(11, 10, 10);
    border: none;
    transition: 0.2s;
    border: 2px solid black;
}

.button2 {
    position: absolute;
    top: 20vh;
    left: 1.2vw;
    background-color: rgb(11, 10, 10);
    border: none;
    transition: 0.2s;
    border: 2px solid black;
}

.button3 {
    position: absolute;
    top: 30vh;
    left: 1.2vw;
    background-color: rgb(11, 10, 10);
    border: none;
    transition: 0.2s;
    border: 2px solid black;
}

.button4 {
    position: absolute;
    top: 40vh;
    left: 1.2vw;
    background-color: rgb(11, 10, 10);
    border: none;
    transition: 0.2s;
    border: 2px solid black;
}

.button5 {
    position: absolute;
    top: 50vh;
    left: 1.2vw;
    background-color: rgb(11, 10, 10);
    border: none;
    transition: 0.2s;
    border: 2px solid black;
}

.button6 {
    position: absolute;
    top: 60vh;
    left: 1.2vw;
    background-color: rgb(11, 10, 10);
    border: none;
    transition: 0.2s;
    border: 2px solid black;
}

#check:checked~.menu {
    left: 1vw;
}

#check:checked~.body {
    margin-left: 16vw;
}

#check:checked~label #btn {
    left: 10vw;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 14.3vw;
}

#box {
    width: 100%;
    z-index: 3;
}

#box1 {
    width: 100%;
    z-index: 3;
}

/*CONTAINERS*/
#container1,
#container2,
#container3,
#container4,
#container5,
#container6,
#container7,
#container8,
#container9,
#container10,
#container11,
#container12,
#container13,
#container14,
#container15,
#container16,
#container17,
#container18,
#container19,
#container20,
#container21,
#container22,
#container23,
#container24,
#container25,
#container26,
#container27,
#container28,
#container29,
#container30,
#container31,
#container32,
#container33,
#container34,
#container35,
#container36,
#container37,
#container38,
#container39 {
    visibility: hidden;
    z-index: 2;
}

#container1 {
    background-image: url('../IMAGE/role-container-bg.jpeg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

#container2 {
    background-color: blue;
}

#container3 {
    background-color: yellow;
}

/*TABLES*/

/*TABLE 1*/
#table1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#name1 {
    font-size: 5vw;
    height: 20vh;
}

#picture1 {
    width: 30%;
}

/*TABLE 2*/

/*BUTTONS*/
#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6,
#btn7,
#btn8,
#btn9,
#btn10,
#btn11,
#btn12,
#btn13,
#btn14,
#btn15,
#btn16,
#btn17,
#btn18,
#btn19,
#btn20,
#btn21,
#btn22,
#btn23,
#btn24,
#btn25,
#btn26,
#btn27,
#btn28,
#btn29,
#btn30,
#btn31,
#btn32,
#btn33,
#btn34,
#btn35,
#btn36,
#btn37,
#btn38,
#btn39,
#btn40,
#btn41,
#btn42,
#btn43,
#btn44,
#btn45,
#btn46,
#btn47,
#btn48 {
    position: absolute;
    border-radius: 55%;
    width: 4vw;
    height: 8vh;
    transition: 0.4s;
    font-size: 3vw;
    border: 0.2vw solid black;
    background-color: transparent;
    font-size: 20px;
    z-index: -1;
}

#btn1 {
    top: 23.41117%;
    left: 28.88889%;
}

#btn2 {
    top: 19.52228%;
    left: 25.55556%;
}

#btn3 {
    top: 23.41117%;
    left: 22.22222%;
}

#btn4 {
    top: 30.0778%;
    left: 20.388889%;
}

#btn5 {
    top: 36.9112%;
    left: 22.22222%;
}

#btn6 {
    top: 38.9667%;
    left: 25.94444%;
}

#btn7 {
    top: 43.9667%;
    left: 28.88889%;
}

#btn8 {
    top: 50.6889%;
    left: 30.7222%;
}

#btn9 {
    top: 57.4667%;
    left: 28.88889%;
}

#btn10 {
    top: 61.4667%;
    left: 25.55556%;
}

#btn11 {
    top: 57.4667%;
    left: 22.22222%;
}

#btn12 {
    top: 49.9667%;
    left: 21.11111%;
}

#btn13 {
    top: 25.66667%;
    left: 35.0333%;
}

#btn14 {
    top: 19.52228%;
    left: 37.4444%;
}

#btn15 {
    top: 19.52228%;
    left: 41.3333%;
}

#btn16 {
    top: 25.66667%;
    left: 43.5444%;
}

#btn17 {
    top: 33.0111%;
    left: 42.4333%;
}

#btn18 {
    top: 40.1111%;
    left: 40.7778%;
}

#btn19 {
    top: 46.6111%;
    left: 38.6667%;
}

#btn20 {
    top: 53.7222%;
    left: 37.1111%;
}

#btn21 {
    top: 61.4667%;
    left: 36.4444%;
}

#btn22 {
    top: 61.4667%;
    left: 40.3333%;
}

#btn23 {
    top: 61.4667%;
    left: 44.2222%;
}

#btn24 {
    top: 23.31117%;
    left: 57%;
}

#btn25 {
    top: 19.52228%;
    left: 53.6667%;
}

#btn26 {
    top: 23.41117%;
    left: 50.3333%;
}

#btn27 {
    top: 30.0778%;
    left: 48.5%;
}

#btn28 {
    top: 36.9112%;
    left: 50.3333%;
}

#btn29 {
    top: 38.9667%;
    left: 53.9744%;
}

#btn30 {
    top: 43.9667%;
    left: 57%;
}

#btn31 {
    top: 50.6889%;
    left: 58.8333%;
}

#btn32 {
    top: 57.4667%;
    left: 57%;
}

#btn33 {
    top: 61.4667%;
    left: 53.6667%;
}

#btn34 {
    top: 57.4667%;
    left: 50.3333%;
}

#btn35 {
    top: 49.9667%;
    left: 49.2222%;
}

#btn36 {
    top: 25.07884%;
    left: 63.5556%;
}

#btn37 {
    top: 19.52228%;
    left: 66.1667%;
}

#btn38 {
    top: 19.52228%;
    left: 70%;
}

#btn39 {
    top: 25.07884%;
    left: 72.6667%;
}

#btn40 {
    top: 32.620%;
    left: 71.8889%;
}

#btn41 {
    top: 36.007%;
    left: 68.3333%;
}

#btn42 {
    top: 40.5%;
    left: 65.1789%;
}

#btn43 {
    top: 45.017%;
    left: 68.3333%;
}

#btn44 {
    top: 48.35558%;
    left: 71.8889%;
}

#btn45 {
    top: 55.9111%;
    left: 72.6667%;
}

#btn46 {
    top: 61.4667%;
    left: 70%;
}

#btn47 {
    top: 61.4667%;
    left: 66.1667%;
}

#btn48 {
    top: 55.9111%;
    left: 63.5556%;
}

#closeBtn {
    position: absolute;
    border-radius: 0;
    right: 2vw;
    top: 5.5vh;
    width: 4vw;
    height: 8vh;
    font-size: 3vw;
    border: 0;
    z-index: 3;
    visibility: hidden;
    background-color: transparent;
    transition: 0.5s;
}

#closeBtn:hover {
    background-color: transparent;
    font-size: 4vw;
}